{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">About Us</h1>

        <p>Welcome to our movie and series search platform! We've created this site using VidScript embedded for streaming content and IMDbPy to scrape movie details.</p>

        <h3>Tip: uBlock Origin for Ad-Free Streaming</h3>
        <p>For an even better experience, we recommend using uBlock Origin to block ads and enjoy uninterrupted streaming. Install it on your browser, and if you're on Android, you can use Kiwi Browser with uBlock Origin for ad-free mobile streaming.</p>

        <h3>Explore the Source Code</h3>
        <p>If you're curious about how this website works or want to contribute to its development, feel free to check out our <a href="https://github.com/thesupersaurabh/IMDBies">GitHub repo</a>.</p>

        <p>A big thanks to ChatGPT for assisting in creating this site within a limited time. I hope you enjoy discovering and watching your favorite movies and series on this platform!</p>
    </div>
{% endblock %}
